@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'montserrat', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    color: black;
    font-size: 1.5rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
    color: darkcyan;
}
.cta {
    display: inline-block;
    padding: 10px 15px;
    color: white ;
    background-color: transparent;
    border: 4px solid darkcyan;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    letter-spacing: .5rem;
}
.cta:hover {
    color: white;
    background-color: darkcyan;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    text-align: left;
}
.brand h1 span {
color: darkcyan;
}
/* Header section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header {
    min-height: 8vh;
    background-color: rgba(32, 30, 30, 0.24);
    transition: .3s ease background-color;
}
#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul {
   list-style: none;
   position: absolute;
   background-color: rgb(31, 30, 30);
   width: 100vw;
   height: 100vh;
   left: 100%;
   top: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 1;
   overflow: hidden;
   transition: .5s ease left;
}
#header .nav-list ul.active {
    left: 0;
}
#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 12rem;
    letter-spacing: 20px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: darkcyan;
}
#header .hamburger {
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    margin-right: 20px;
}
#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 3px solid white;
}
#header .hamburger .bar {
height: 3px;
width: 27px;
position: relative;
background-color: white;
z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
content: '';
position: absolute;
height: 100%;
width: 100%;
left: 0;
background-color: white;
transition: .3s ease;
transition-property: top, bottom;
}
#header .hamburger .bar::after {
    top: 8px;
}
#header .hamburger .bar::after :hover{
    color: darkcyan;
}
#header .hamburger .bar::before {
    bottom: 8px;
}
#header .hamburger.active .bar::after {
    top: 0;
}
#header .hamburger.active .bar::before {
    bottom: 0;
}
/* End header section */

/* hello section */
#hello {
  background-image: url(./img/christian-wiediger-WkfDrhxDMC8-unsplash.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  height: 50rem ;
}
#hello::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}
#hello .hello {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50 px;
    justify-content: flex-start;
}
#hello h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#hello h1:nth-child(1) {
    animation-delay: 1s;
}
#hello h1:nth-child(2) {
    animation-delay: 2s;
}
#hello h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#hello h1 span{
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0%;
background-color: darkcyan;
animation: text_reveal_box 1s ease;
animation-delay: .5s;
}

#hello h1:nth-child(1) span{
    animation-delay: .5s;
}
#hello h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#hello h1:nth-child(3) span {
    animation-delay: 2.5s;
}
#hello .cta {
    display: inline-block;
    padding: 10px 15px;
    color: white ;
    background-color: transparent;
    border: 4px solid darkcyan;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    letter-spacing: .5rem;
}
#hello .cta:hover {
    color: white;
    background-color: darkcyan;
}
/* End hello section */

/* services section */

#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-bottom {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin-top: 50px;
}
#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item:nth-child(1){
    background-image: url(./img/system\ software\ development.jpg);
}
#services .service-item:nth-child(2){
    background-image: url(./img/web\ development.png);
}
#services .service-item:nth-child(3){
    background-image: url(./img/database\ development.jpg);
}
#services .service-item:nth-child(4){
    background-image: url(./img/software\ engineering.png);
}
#services .service-item:nth-child(5){
    background-image: url(./img/guigux\ design.png);
}
#services .service-item:nth-child(6){
    background-image: url(./img/system\ analysis.png);
}
#services .service-item:nth-child(7){
    background-image: url(./img/computer\ hardware\ engineering.png);
}
#services .service-item:nth-child(8){
    background-image: url(./img/mobile\ app\ development.jpg);
}
#services .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .3;
    z-index: -1;
}
#services .service-bottom img {
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
}
#services .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: darkcyan;
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    width: 100%;

}
#services .service-item p {
    color: white;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
    background-color: darkcyan;
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    width: 100%;
}
/* End services section */

/* projects section */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding:  100px 0;
}
#projects .project-header h1 {
    margin-bottom: 50px;
}
#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:  column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
    background-color: darkcyan;
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    width: 100%;
}
#projects .project-info h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
    background-color: darkcyan;
    border-radius: 10px;
    padding: 5px;
    height: 70%;
    width: 100%;
}
#projects .project-info p {
    color: white;
}
#projects .project-img{
flex-basis: 50%;
overflow: hidden;
position: relative;
}
#projects .project-img:after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .01;
}
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-item:hover .project-img img{
    transform: scale(1.1);
}

/* End projects section */

/* About section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left {
    width: 250px;
    height: 360px;
}
#about .col-right {
    width: 100%;
}
#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
#about .col-right p {
    margin-bottom: 20px;
}
#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}
#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid darkcyan;
    z-index: -1;
}
/* End About section */

/* Contact section */
#contact .contact{
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}
#contact .contact-items {
    width: 350px;
}
#contact .contact-item {
width: 80%;
text-align: center;
border-radius: 10px;
padding: 30px;
margin: 30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
box-shadow: 0px 0px 18px 0 #0000002c;
transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}

/* End Contact section */

/* footer section */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom:10px ;
}
#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon {
    display: flex;
    margin-bottom: 20px;
}
#footer .social-item {
    height: 40px;
    width: 40px;
    margin: 0 5px;
}
#footer .social-item img {
    filter: grayscale(1);
    transition: .3s ease filter;
}
#footer .social-item:hover img {
    filter: grayscale(0);
}
#footer p {
    color: white;
    font-size: 1.3rem;
}
#footer span  {
    color: darkcyan;
}
#footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 0;
}
#footer ul li a {
 color: white;
 text-decoration: none;
}
#footer ul li {
   display: inline-block;
   padding: 0 5px;
}
#footer ul li a:hover {
color: darkcyan;
border: 1.6px solid darkcyan;
padding: 2px 5px;
}
/* End footer section */


/* keyframes */
@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: white;
    }
}
@keyframes text_reveal_name {
    100% {
        color: darkcyan;
        font-weight: 500px;
    }
    }
/* End keyframes */

/* Media Query For Tablet*/
@media only screen and (min-width: 768px) {
#hello .cta {
        font-size: 2.5rem;
        padding: 15px 20px;
        border: 6px solid darkcyan;

    }
    h1.section-title {
        font-size: 5rem;
    }
/* Hello */
#hello h1 {
    font-size: 4.5rem;
}
/* End Hello */

/* Services section*/
#services .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
}
#services .service-item {
    height: 50vh;
    width: 100%;
}

/* End Services Section */

/* projects section*/
#projects .project-item:nth-last-child(even) {
   flex-direction: row-reverse;
}
#projects .project-item {
    flex-direction: row;
    height: 300px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}
#projects .all-projects .project-info {
    height: 100%;
}
#projects .all-projects .project-img {
    height: 100%;
}
/* End projects Section */

/* About section*/
#about .about{
    flex-direction: row;
}
#about .col-left {
    width: 600px;
    height: 450px;
    padding-left: 60px;
}
#about .about .col-left .about-img ::after {
    left: -45px;
    top: 34px;
    height: 98%;
    border: 10px solid darkcyan;
}
#about .col-right {
    text-align: left;
    padding: 30px;
}
#about .col-right h1 {
    text-align: left;
}
#about .col-right .cta {
    padding: 15px 10px;
    font-size: 2rem;
}
/* End About Section */

/* contact section*/
#contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
}
#contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0;
}
#contact .contact-item {
 margin: 15px;
}
#contact .contact-item .icon {
    height: 70px;
    width: 70px;
}
#contact .contact-item .icon img{
    object-fit: contain;
}
#contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 5px;
}

/* End contact Section */
}
/* End Media Query For Tablet*/

/* Media Query For Desktop*/
@media only screen and (min-width: 1200px) {
   /* header */
   #header .hamburger {
       display: none;
   }
   #header .nav-list ul {
       position: initial;
       display: block;
       height: auto;
       width: fit-content;
       background-color: transparent;
       padding-right: 50px;
   }
   #header .nav-list ul li {
       display: inline-block;
   }
   #header .nav-list ul li a {
       font-size: 1.5rem;
   }
   #header .nav-list ul a:after {
       display: none;
   }
   #header .nav-bar .brand h1{
    font-size: 3.5rem;
    display: flex;
   }
   #header .nav-list ul li:hover a {
    border: 2px solid darkcyan;
    padding-block: 5px;
}
   /* End header */
    #services .service-bottom .service-item{
        flex-basis: 22%;
        margin: 1.5%;
    }
    #contact .contact-item {
        flex-direction: row;
    }
    #contact .contact-item .contact-info {
        padding-left: 20px;
    }
    #projects .project-item {
        height: 300px;
        width: 85%;
    }
   /* footer */

   /* end footer */
}
/* End Media Query For Desktop*/
